  <% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
</head>
<body>
  <nav>
    <a href="/"><img src="../images/main/Ironman.png" height="50" id="icon"></a>
    <a href="/posts" class="tab">Posts</a>
    <a href="/profiles" class="tab">Profile</a>
    <% if (user) { %>
      <a href="/auth/logout" id="logOut">
        Logout
      </a>
    <% } else { %>
      <a href="/auth/google" class="siwg-link">
        <button type="submit" class="siwg">
          <img id="siwg-image" alt="Sign in with Google" />
        </button>
      </a>
    <% } %>
    <a href="/movies" class="tab">MCU Movies</a>
    <!-- <a href="/watch-list">My Watch-lists</a> -->
  </nav>
